<div>
    <h2 class="mb-4">Add a New Filament</h2>
    <form action="/add-filament" method="POST">
        <label for="materialId">Material ID:&nbsp;</label>
        <input type="text" id="materialId" name="materialId" required>

        <label for="manufacturer">&nbsp;&nbsp;Manufacturer:&nbsp;</label>
        <input type="text" id="manufacturer" name="manufacturer" required>

        <label for="color">&nbsp;&nbsp;Color:&nbsp;</label>
        <input type="text" id="color" name="color">

        <label for="diameter">&nbsp;&nbsp;Diameter:&nbsp;</label>
        <input type="text" id="diameter" name="diameter">

        <button type="submit">Add Filament</button>
    </form>
</div>
{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}