  <div class="container mt-5">
    <h2 class="mb-4">Add a New Printer</h2>
    <form class="add-printer-form">
      
        <label for="printer-name">Name:&nbsp;</label>
        <input type="text" id="printer-name" required>
      
        <label for="printer-manufacturer">&nbsp;&nbsp;Manufacturer:&nbsp;</label>
        <input type="text" id="printer-manufacturer" required>
    
        <label for="printer-model">&nbsp;&nbsp;model:&nbsp;</label>
        <input type="text" id="printer-model" required>
      
      
      <button type="submit" id="addPrinter">Add Printer</button>
    </form>
  </div>

  <script src="/js/printer.js"></script>

