body {
    background-image: linear-gradient( to left,
    #9146b0,
    #9458b0,
    #9868af,
    #9b78ad
    );

}

header {
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
}

button {
    border-style: solid;
    border-color: black;
    background-color:#918a95;
    margin-top: 30px;
    border-radius: 10px;
    border-width: 2px;
}
.btn-primary {
    border-style: solid;
    border-color: black;
    background-color:#918a95;
    margin-top: 5px;
    border-radius: 7.5px;
    border-width: 2px;
}
.no-button {
    background-color: white;
    color: black;
}
a {
    font-weight: bold;
    color: black;
}
/* for homepage link */
h1 a {
    background-color: aliceblue;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.container-fluid {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    border-style: solid;
    background-image: linear-gradient(to right, darkgrey, grey);
    box-shadow: 25px 25px black;
    background-image: linear-gradient(to top, 
    #2f5cb0,
    #0074b5,
    #0087ac,
    #18969e
    );
    border-color: black;
    color: white;
}

.table {font-weight: bold;
    color: black;
}

#settingsForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
#print-temperature, #initial-layer-temperature, #build-plate-temperature {
    width: 100px;
}

#retraction-distance, #retraction-speed, #max-retraction-count {
    width: 50px;
}

